In [117]:
import pandas as pd
from six.moves import urllib
import time
import numpy as np
pd.set_option("display.max_rows", 20)
pd.set_option('display.float_format', lambda x: "{0:,.3f}".format(x))

In [6]:
from yqd import *

# 'https://query1.finance.yahoo.com/v7/finance/download/^GSPC?period1=-630950400&period2=1551686400&interval=1d&events=history&crumb=7yeobYpz5RM'
quote = load_yahoo_quote('^GSPC', '19500103', 'today', 'quote', 'dataframe')
quote

,Date,Open,High,Low,Close,Adj Close,Volume
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,16.660000,1260000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,16.850000,1890000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,16.930000,2550000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,16.980000,2010000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,17.080000,2520000
5,1950-01-10,17.030001,17.030001,17.030001,17.030001,17.030001,2160000
6,1950-01-11,17.090000,17.090000,17.090000,17.090000,17.090000,2630000
7,1950-01-12,16.760000,16.760000,16.760000,16.760000,16.760000,2970000
8,1950-01-13,16.670000,16.670000,16.670000,16.670000,16.670000,3330000
9,1950-01-16,16.719999,16.719999,16.719999,16.719999,16.719999,1460000
...,...,...,...,...,...,...,...
17403,2019-03-05,2794.409912,2796.439941,2782.969971,2789.649902,2789.649902,3585690000
17404,2019-03-06,2790.270020,2790.270020,2768.689941,2771.449951,2771.449951,3786600000
17405,2019-03-07,2766.530029,2767.250000,2739.090088,2748.929932,2748.929932,3904860000
17406,2019-03-08,2730.790039,2744.129883,2722.270020,2743.070068,2743.070068,3423130000
17407,2019-03-11,2747.610107,2784.000000,2747.610107,2783.300049,2783.300049,3749030000
17408,2019-03-12,2787.340088,2798.320068,2786.729980,2791.520020,2791.520020,3414230000
17409,2019-03-13,2799.780029,2821.239990,2799.780029,2810.919922,2810.919922,3766150000
17410,2019-03-14,2810.379883,2815.000000,2803.459961,2808.479980,2808.479980,3469730000
17411,2019-03-15,2810.790039,2830.729980,2810.790039,2822.479980,2822.479980,5962730000
17412,2019-03-18,2822.610107,2835.409912,2821.989990,2832.939941,2832.939941,3552190000

In [7]:
quote['Year'] = quote['Date'].map(lambda x:x.year)
quote

,Date,Open,High,Low,Close,Adj Close,Volume,Year
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,16.660000,1260000,1950
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,16.850000,1890000,1950
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,16.930000,2550000,1950
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,16.980000,2010000,1950
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,17.080000,2520000,1950
5,1950-01-10,17.030001,17.030001,17.030001,17.030001,17.030001,2160000,1950
6,1950-01-11,17.090000,17.090000,17.090000,17.090000,17.090000,2630000,1950
7,1950-01-12,16.760000,16.760000,16.760000,16.760000,16.760000,2970000,1950
8,1950-01-13,16.670000,16.670000,16.670000,16.670000,16.670000,3330000,1950
9,1950-01-16,16.719999,16.719999,16.719999,16.719999,16.719999,1460000,1950
...,...,...,...,...,...,...,...,...
17403,2019-03-05,2794.409912,2796.439941,2782.969971,2789.649902,2789.649902,3585690000,2019
17404,2019-03-06,2790.270020,2790.270020,2768.689941,2771.449951,2771.449951,3786600000,2019
17405,2019-03-07,2766.530029,2767.250000,2739.090088,2748.929932,2748.929932,3904860000,2019
17406,2019-03-08,2730.790039,2744.129883,2722.270020,2743.070068,2743.070068,3423130000,2019
17407,2019-03-11,2747.610107,2784.000000,2747.610107,2783.300049,2783.300049,3749030000,2019
17408,2019-03-12,2787.340088,2798.320068,2786.729980,2791.520020,2791.520020,3414230000,2019
17409,2019-03-13,2799.780029,2821.239990,2799.780029,2810.919922,2810.919922,3766150000,2019
17410,2019-03-14,2810.379883,2815.000000,2803.459961,2808.479980,2808.479980,3469730000,2019
17411,2019-03-15,2810.790039,2830.729980,2810.790039,2822.479980,2822.479980,5962730000,2019
17412,2019-03-18,2822.610107,2835.409912,2821.989990,2832.939941,2832.939941,3552190000,2019

In [8]:
last_close = float(quote.tail(1)['Adj Close'])
last_close

2832.939941

# We are trying to simulate the following scenario:
1. Someone want to invest 10000 each year<br>
1. He is trying to find which day to invest that 10000<br>
1. We'll see that the whether the timing plays a big role
***

In [46]:
def find_purchase_price(quote):
   
    aggregation =  {
        'Adj Close':  [
                       'max',  # Worst case, always to purchase at that year's highest point
                       'min',  # Best case, always to purchase at that year's lowest point
                       'mean', # Purchase at average point
                       np.random.choice # Doesn't care, random pick a day to invest
                      ]
        }
    
    
    every_year = quote.groupby('Year').agg(aggregation)
    every_year.columns = every_year.columns.get_level_values(1)
    every_year.reset_index()
    # the renaming in aggregation dict is deprecated, explicitly rename here:
    every_year.columns = ['Max', 'Min', 'Avg', 'Rand']
    return every_year

every_year = find_purchase_price(quote)
every_year

              Max          Min          Avg         Rand
Year
1950    20.430000    16.660000    18.397269    17.530001
1951    23.850000    20.690001    22.321888    21.260000
1952    26.590000    23.090000    24.496160    25.959999
1953    26.660000    22.709999    24.722590    24.180000
1954    35.980000    24.799999    29.724087    34.490002
1955    46.410000    34.580002    40.498849    41.900002
1956    49.639999    43.110001    46.639522    48.700001
1957    49.130001    38.980000    44.423373    41.330002
1958    55.209999    40.330002    46.203452    51.070000
1959    60.709999    53.580002    57.418182    58.090000
...           ...          ...          ...          ...
2010  1259.780029  1022.580017  1139.965512  1135.680054
2011  1363.609985  1099.229980  1267.638809  1195.540039
2012  1465.770020  1277.060059  1379.354160  1447.150024
2013  1848.359985  1457.150024  1643.798968  1802.479980
2014  2090.570068  1741.890015  1931.376110  1946.719971
2015  2130.820068  1867.609985  2061.067741  2113.860107
2016  2271.719971  1829.079956  2094.651264  2151.330078
2017  2690.159912  2257.830078  2449.076379  2394.439941
2018  2930.750000  2351.100098  2746.214183  2821.979980
2019  2832.939941  2447.889893  2703.785569  2681.050049

[70 rows x 4 columns]

In [81]:
def invest(amount, purchase_pricing):
    purchase_pricing["MaxShare"] = amount/purchase_pricing['Max']
    purchase_pricing['MinShare'] = amount/purchase_pricing['Min']
    purchase_pricing['AvgShare'] = amount/purchase_pricing['Avg']
    purchase_pricing['RandShare'] = amount/purchase_pricing['Rand']
    return purchase_pricing

every_year_investment = 12000.0
every_year = invest(every_year_investment, every_year)
every_year

,Max,Min,Avg,Rand,MaxShare,MinShare,AvgShare,RandShare
Year,,,,,,,,
1950,20.430000,16.660000,18.397269,17.530001,587.371512,720.288115,652.270720,684.540748
1951,23.850000,20.690001,22.321888,21.260000,503.144654,579.990305,537.588945,564.440263
1952,26.590000,23.090000,24.496160,25.959999,451.297480,519.705500,489.872696,462.249633
1953,26.660000,22.709999,24.722590,24.180000,450.112528,528.401608,485.386044,496.277916
1954,35.980000,24.799999,29.724087,34.490002,333.518621,483.870987,403.712984,347.926915
1955,46.410000,34.580002,40.498849,41.900002,258.564964,347.021380,296.304716,286.396168
1956,49.639999,43.110001,46.639522,48.700001,241.740537,278.357683,257.292517,246.406566
1957,49.130001,38.980000,44.423373,41.330002,244.249944,307.850180,270.128070,290.345982
1958,55.209999,40.330002,46.203452,51.070000,217.351933,297.545237,259.720852,234.971608
1959,60.709999,53.580002,57.418182,58.090000,197.661015,223.964157,208.993034,206.576003
1960,60.389999,52.200001,55.845754,54.860001,198.708399,229.885053,214.877572,218.738603
1961,72.639999,57.570000,66.266320,71.660004,165.198240,208.441897,181.087466,167.457429
1962,71.129997,52.320000,62.320754,67.599998,168.705195,229.357798,192.552227,177.514798
1963,75.019997,62.689999,69.859362,70.430000,159.957351,191.418092,171.773683,170.381940
1964,86.279999,75.430000,81.372885,81.209999,139.082060,159.087896,147.469270,147.765055
1965,92.629997,81.599998,88.157262,91.830002,129.547667,147.058827,136.120380,130.676247
1966,94.059998,73.199997,85.181627,80.449997,127.578144,163.934433,140.875450,149.160975
1967,97.589996,80.379997,91.955896,96.760002,122.963423,149.290874,130.497341,124.018187
1968,108.370003,87.720001,98.377168,87.720001,110.731749,136.798904,121.979523,136.798904
1969,106.160004,89.199997,97.772600,97.070000,113.036921,134.529153,122.733772,123.622128
1970,93.459999,69.290001,83.154134,84.220001,128.397177,173.185161,144.310324,142.483969
1971,104.769997,90.160004,98.315020,91.800003,114.536607,133.096711,122.056630,130.718950
1972,119.120003,101.669998,109.134821,107.919998,100.738748,118.028919,109.955740,111.193479
1973,120.239998,92.160004,107.438413,105.800003,99.800401,130.208328,111.691896,113.421547
1974,99.800003,62.279999,82.780909,89.570000,120.240477,192.678230,144.960959,133.973429
1975,95.610001,70.040001,86.181225,70.959999,125.509883,171.330666,139.241464,169.109360
1976,107.830002,90.900002,102.035296,104.059998,111.286282,132.013198,117.606362,115.318088
1977,107.000000,90.709999,98.181865,98.739998,112.149533,132.289716,122.222164,121.531297
1978,106.989998,86.900002,96.113968,98.339996,112.160017,138.089755,124.851780,122.025630
1979,111.269997,96.129997,102.999051,98.199997,107.845783,124.830962,116.505927,122.199596
...,...,...,...,...,...,...,...,...
1990,368.950012,295.459991,334.632056,304.589996,32.524731,40.614636,35.860282,39.397223
1991,417.089996,311.489990,376.186324,377.700012,28.770769,38.524512,31.899086,31.771246
1992,441.279999,394.500000,415.747008,409.299988,27.193619,30.418251,28.863707,29.318349
1993,470.940002,429.049988,451.614821,461.339996,25.480953,27.968769,26.571316,26.011185
1994,482.000000,438.920013,460.416508,471.190002,24.896266,27.339833,26.063357,25.467433
1995,621.690002,459.109985,541.719087,583.030029,19.302225,26.137528,22.151702,20.582130
1996,757.030029,598.479980,670.494843,666.840027,15.851419,20.050796,17.897229,17.995320
1997,983.789978,737.010010,873.427788,801.340027,12.197725,16.282004,13.738972,14.974917
1998,1241.810059,927.690002,1085.503253,1072.119995,9.663314,12.935356,11.054780,11.192777
1999,1469.250000,1212.189941,1327.329567,1340.300049,8.167432,9.899439,9.040709,8.953219
2000,1527.459961,1264.739990,1427.221069,1401.530029,7.856180,9.488116,8.407948,8.562071
2001,1373.729980,965.799988,1194.178994,1249.459961,8.735341,12.424933,10.048745,9.604149
2002,1172.510010,776.760010,993.934804,1125.170044,10.234454,15.448787,12.073226,10.665055
2003,1111.920044,800.729980,965.227540,916.299988,10.792143,14.986325,12.432302,13.096148
2004,1213.550049,1063.229980,1130.649445,1170.339966,9.888344,11.286363,10.613369,10.253431
2005,1272.739990,1137.500000,1207.229443,1175.410034,9.428477,10.549451,9.940115,10.209203
2006,1427.089966,1223.689941,1310.461236,1310.609985,8.408720,9.806406,9.157081,9.156042
2007,1565.150024,1374.119995,1477.184342,1470.579956,7.666997,8.732862,8.123563,8.160046
2008,1447.160034,752.440002,1220.042056,896.239990,8.292103,15.948115,9.835727,13.389271
2009,1127.780029,676.530029,948.046388,1126.420044,10.640373,17.737572,12.657608,10.653220
2010,1259.780029,1022.580017,1139.965512,1135.680054,9.525472,11.735023,10.526634,10.566356
2011,1363.609985,1099.229980,1267.638809,1195.540039,8.800170,10.916733,9.466419,10.037305
2012,1465.770020,1277.060059,1379.354160,1447.150024,8.186823,9.396582,8.699724,8.292160
2013,1848.359985,1457.150024,1643.798968,1802.479980,6.492242,8.235254,7.300163,6.657494
2014,2090.570068,1741.890015,1931.376110,1946.719971,5.740061,6.889069,6.213187,6.164215
2015,2130.820068,1867.609985,2061.067741,2113.860107,5.631635,6.425324,5.822225,5.676818
2016,2271.719971,1829.079956,2094.651264,2151.330078,5.282341,6.560675,5.728877,5.577945
2017,2690.159912,2257.830078,2449.076379,2394.439941,4.460701,5.314838,4.899806,5.011610
2018,2930.750000,2351.100098,2746.214183,2821.979980,4.094515,5.103994,4.369652,4.252333
2019,2832.939941,2447.889893,2703.785569,2681.050049,4.235882,4.902181,4.438222,4.475858

In [82]:
def get_irr(final_value):
    return np.irr(np.append(np.full(len(every_year), -every_year_investment),final_value))*100

def get_result(every_year):
    today = every_year.sum()

    max_value = today['MaxShare']*last_close
    min_value = today['MinShare']*last_close
    avg_value = today['AvgShare']*last_close
    rand_value = today['RandShare']*last_close

    print ("Buy On Highest Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(max_value, get_irr(max_value)))
    print ("Buy On Lowest Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(min_value, get_irr(min_value)))
    print ("Buy On Average Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(avg_value, get_irr(avg_value)))
    print ("Buy On Random Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(rand_value, get_irr(rand_value)))

get_result(every_year)

Buy On Highest Day: $19,895,356.06, Interal Return Rate:6.92%
Buy On Lowest Day: $24,723,642.64, Interal Return Rate:7.33%
Buy On Average Day: $21,961,623.97, Interal Return Rate:7.11%
Buy On Random Day: $21,913,784.71, Interal Return Rate:7.11%

In [83]:
print ("No investment:  ${0:12,.2f}".format(len(every_year)*every_year_investment))
print ("3% interest CD: ${0:12,.2f}".format(np.fv(0.03, 70, -every_year_investment, 0)))

No investment:  $  840,000.00
3% interest CD: $2,767,128.76

In [87]:
try_again = find_purchase_price(quote)
invest(every_year_investment, try_again)
get_result(try_again)

Buy On Highest Day: $19,895,356.06, Interal Return Rate:6.92%
Buy On Lowest Day: $24,723,642.64, Interal Return Rate:7.33%
Buy On Average Day: $21,961,623.97, Interal Return Rate:7.11%
Buy On Random Day: $21,957,186.95, Interal Return Rate:7.11%

In [88]:
# http://www.multpl.com/s-p-500-dividend-yield/
# median dividen is 4.28%, we use 2%
def calc_dividend(row):
    return row["RandShare"]*1.02**(2019-int(row.name))

def add_dividend(every_year):
    every_year["RandShareWithDividend"] = every_year.apply(calc_dividend, axis=1)
    
add_dividend(try_again)

In [89]:
try_again

,Max,Min,Avg,Rand,MaxShare,MinShare,AvgShare,RandShare,RandShareWithDividend
Year,,,,,,,,,
1950,20.430000,16.660000,18.397269,18.260000,587.371512,720.288115,652.270720,657.174151,2576.868902
1951,23.850000,20.690001,22.321888,21.680000,503.144654,579.990305,537.588945,553.505535,2127.813931
1952,26.590000,23.090000,24.496160,25.520000,451.297480,519.705500,489.872696,470.219436,1772.197355
1953,26.660000,22.709999,24.722590,24.610001,450.112528,528.401608,485.386044,487.606644,1801.693663
1954,35.980000,24.799999,29.724087,29.980000,333.518621,483.870987,403.712984,400.266845,1449.975894
1955,46.410000,34.580002,40.498849,42.990002,258.564964,347.021380,296.304716,279.134669,991.344893
1956,49.639999,43.110001,46.639522,48.000000,241.740537,278.357683,257.292517,250.000000,870.464030
1957,49.130001,38.980000,44.423373,47.430000,244.249944,307.850180,270.128070,253.004428,863.651975
1958,55.209999,40.330002,46.203452,43.779999,217.351933,297.545237,259.720852,274.097768,917.309679
1959,60.709999,53.580002,57.418182,58.869999,197.661015,223.964157,208.993034,203.838971,668.801939
1960,60.389999,52.200001,55.845754,57.790001,198.708399,229.885053,214.877572,207.648378,667.941885
1961,72.639999,57.570000,66.266320,66.410004,165.198240,208.441897,181.087466,180.695667,569.846259
1962,71.129997,52.320000,62.320754,62.270000,168.705195,229.357798,192.552227,192.709170,595.816013
1963,75.019997,62.689999,69.859362,66.230003,159.957351,191.418092,171.773683,181.186765,549.207033
1964,86.279999,75.430000,81.372885,76.000000,139.082060,159.087896,147.469270,157.894737,469.220633
1965,92.629997,81.599998,88.157262,84.070000,129.547667,147.058827,136.120380,142.738194,415.862226
1966,94.059998,73.199997,85.181627,88.849998,127.578144,163.934433,140.875450,135.059091,385.773976
1967,97.589996,80.379997,91.955896,91.309998,122.963423,149.290874,130.497341,131.420439,368.020359
1968,108.370003,87.720001,98.377168,92.559998,110.731749,136.798904,121.979523,129.645638,355.931700
1969,106.160004,89.199997,97.772600,101.269997,113.036921,134.529153,122.733772,118.495116,318.940035
1970,93.459999,69.290001,83.154134,77.180000,128.397177,173.185161,144.310324,155.480694,410.284290
1971,104.769997,90.160004,98.315020,90.790001,114.536607,133.096711,122.056630,132.173145,341.941230
1972,119.120003,101.669998,109.134821,108.690002,100.738748,118.028919,109.955740,110.405739,280.026880
1973,120.239998,92.160004,107.438413,104.510002,99.800401,130.208328,111.691896,114.821546,285.516553
1974,99.800003,62.279999,82.780909,91.459999,120.240477,192.678230,144.960959,131.204900,319.858417
1975,95.610001,70.040001,86.181225,83.449997,125.509883,171.330666,139.241464,143.798687,343.686504
1976,107.830002,90.900002,102.035296,103.650002,111.286282,132.013198,117.606362,115.774238,271.280962
1977,107.000000,90.709999,98.181865,97.150002,112.149533,132.289716,122.222164,123.520327,283.756387
1978,106.989998,86.900002,96.113968,93.849998,112.160017,138.089755,124.851780,127.863615,287.974492
1979,111.269997,96.129997,102.999051,103.389999,107.845783,124.830962,116.505927,116.065385,256.276973
...,...,...,...,...,...,...,...,...,...
1990,368.950012,295.459991,334.632056,320.399994,32.524731,40.614636,35.860282,37.453184,66.511038
1991,417.089996,311.489990,376.186324,389.329987,28.770769,38.524512,31.899086,30.822183,53.662166
1992,441.279999,394.500000,415.747008,411.730011,27.193619,30.418251,28.863707,29.145313,49.747740
1993,470.940002,429.049988,451.614821,440.320007,25.480953,27.968769,26.571316,27.252907,45.605507
1994,482.000000,438.920013,460.416508,462.619995,24.896266,27.339833,26.063357,25.939216,42.556033
1995,621.690002,459.109985,541.719087,556.630005,19.302225,26.137528,22.151702,21.558306,34.675182
1996,757.030029,598.479980,670.494843,671.700012,15.851419,20.050796,17.897229,17.865118,28.171491
1997,983.789978,737.010010,873.427788,830.289978,12.197725,16.282004,13.738972,14.452782,22.343707
1998,1241.810059,927.690002,1085.503253,1133.849976,9.663314,12.935356,11.054780,10.583411,16.040919
1999,1469.250000,1212.189941,1327.329567,1350.449951,8.167432,9.899439,9.040709,8.885927,13.204020
2000,1527.459961,1264.739990,1427.221069,1516.349976,7.856180,9.488116,8.407948,7.913740,11.528825
2001,1373.729980,965.799988,1194.178994,1197.660034,8.735341,12.424933,10.048745,10.019538,14.310367
2002,1172.510010,776.760010,993.934804,1111.010010,10.234454,15.448787,12.073226,10.800983,15.123983
2003,1111.920044,800.729980,965.227540,942.299988,10.792143,14.986325,12.432302,12.734798,17.482149
2004,1213.550049,1063.229980,1130.649445,1128.479980,9.888344,11.286363,10.613369,10.633773,14.311658
2005,1272.739990,1137.500000,1207.229443,1200.079956,9.428477,10.549451,9.940115,9.999334,13.193909
2006,1427.089966,1223.689941,1310.461236,1298.819946,8.408720,9.806406,9.157081,9.239156,11.951833
2007,1565.150024,1374.119995,1477.184342,1538.530029,7.666997,8.732862,8.123563,7.799653,9.891846
2008,1447.160034,752.440002,1220.042056,1423.569946,8.292103,15.948115,9.835727,8.429512,10.481039
2009,1127.780029,676.530029,948.046388,712.869995,10.640373,17.737572,12.657608,16.833364,20.519777
2010,1259.780029,1022.580017,1139.965512,1051.869995,9.525472,11.735023,10.526634,11.408254,13.633919
2011,1363.609985,1099.229980,1267.638809,1265.329956,8.800170,10.916733,9.466419,9.483692,11.111657
2012,1465.770020,1277.060059,1379.354160,1461.050049,8.186823,9.396582,8.699724,8.213271,9.434467
2013,1848.359985,1457.150024,1643.798968,1690.910034,6.492242,8.235254,7.300163,7.096770,7.992116
2014,2090.570068,1741.890015,1931.376110,1936.160034,5.740061,6.889069,6.213187,6.197835,6.842910
2015,2130.820068,1867.609985,2061.067741,2114.149902,5.631635,6.425324,5.822225,5.676040,6.143929
2016,2271.719971,1829.079956,2094.651264,2176.939941,5.282341,6.560675,5.728877,5.512325,5.849723
2017,2690.159912,2257.830078,2449.076379,2578.850098,4.460701,5.314838,4.899806,4.653237,4.841227
2018,2930.750000,2351.100098,2746.214183,2467.419922,4.094515,5.103994,4.369652,4.863380,4.960647
2019,2832.939941,2447.889893,2703.785569,2596.639893,4.235882,4.902181,4.438222,4.621357,4.621357

In [108]:
def get_value_with_dividend(every_year):
    today_with_dividend = every_year.sum()
    rand_value_with_dividen = today_with_dividend['RandShareWithDividend']*last_close*0.85
    print ("Buy On Random Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(rand_value_with_dividen, get_irr(rand_value_with_dividen)))

get_value_with_dividend(try_again)

Buy On Random Day: $57,244,439.95, Interal Return Rate:8.90%

In [56]:
quote['Month'] = quote['Date'].map(lambda x:x.month)
quote

first_day_of_each_month = quote.groupby(['Year', 'Month'])['Adj Close'].agg(['first'])

In [57]:
first_day_of_each_month

                  first
Year Month
1950 1        16.660000
     2        17.049999
     3        17.240000
     4        17.530001
     5        18.219999
     6        18.770000
     7        17.639999
     8        18.020000
     9        18.549999
     10       19.690001
...                 ...
2018 6      2734.620117
     7      2726.709961
     8      2813.360107
     9      2896.719971
     10     2924.590088
     11     2740.370117
     12     2790.370117
2019 1      2510.030029
     2      2706.530029
     3      2803.689941

[831 rows x 1 columns]

In [62]:
first_day_of_each_month["change"] = first_day_of_each_month.pct_change(12)
first_day_of_each_month

                  first    change
Year Month
1950 1        16.660000       NaN
     2        17.049999       NaN
     3        17.240000       NaN
     4        17.530001       NaN
     5        18.219999       NaN
     6        18.770000       NaN
     7        17.639999       NaN
     8        18.020000       NaN
     9        18.549999       NaN
     10       19.690001       NaN
...                 ...       ...
2018 6      2734.620117  0.125330
     7      2726.709961  0.122560
     8      2813.360107  0.136091
     9      2896.719971  0.169659
     10     2924.590088  0.156367
     11     2740.370117  0.062422
     12     2790.370117  0.056070
2019 1      2510.030029 -0.068914
     2      2706.530029 -0.040911
     3      2803.689941  0.047063

[831 rows x 2 columns]

In [105]:
def simulate_iul(change):
    if change < 0:
        return 0
    if change > 0.12:
        return 0.12
    return change

first_day_of_each_month["iul_mode"] = first_day_of_each_month['change'].apply(simulate_iul)
first_day_of_each_month

                  first    change  iul_mode      share    cash_value
Year Month
1950 1        16.660000       NaN       NaN  60.024010  1.000000e+03
     2        17.049999       NaN       NaN  58.651030  1.000000e+03
     3        17.240000       NaN       NaN  58.004640  1.000000e+03
     4        17.530001       NaN       NaN  57.045062  1.000000e+03
     5        18.219999       NaN       NaN  54.884745  1.000000e+03
     6        18.770000       NaN       NaN  53.276505  1.000000e+03
     7        17.639999       NaN       NaN  56.689346  1.000000e+03
     8        18.020000       NaN       NaN  55.493896  1.000000e+03
     9        18.549999       NaN       NaN  53.908359  1.000000e+03
     10       19.690001       NaN       NaN  50.787199  1.000000e+03
     11       19.559999       NaN       NaN  51.124747  1.000000e+03
     12       19.660000       NaN       NaN  50.864700  1.000000e+03
1951 1        20.770000  0.246699  0.120000  48.146365  1.000000e+03
     2        21.770000  0.276833  0.120000  45.934773  2.135000e+03
     3        21.850000  0.267401  0.120000  45.766590  2.135000e+03
     4        21.320000  0.216201  0.120000  46.904315  2.135000e+03
     5        22.530001  0.236553  0.120000  44.385262  2.135000e+03
     6        21.480000  0.144379  0.120000  46.554935  2.135000e+03
     7        21.100000  0.196145  0.120000  47.393365  2.135000e+03
     8        22.510000  0.249168  0.120000  44.424700  2.135000e+03
     9        23.280001  0.254987  0.120000  42.955325  2.135000e+03
     10       23.469999  0.191976  0.120000  42.607586  2.135000e+03
     11       23.100000  0.180982  0.120000  43.290043  2.135000e+03
     12       23.010000  0.170397  0.120000  43.459365  2.135000e+03
1952 1        23.799999  0.145883  0.120000  42.016808  2.135000e+03
     2        24.299999  0.116215  0.116215  41.152265  3.383119e+03
     3        23.290001  0.065904  0.065904  42.936881  3.275705e+03
     4        24.180000  0.134146  0.120000  41.356493  3.421402e+03
     5        23.170000  0.028407  0.028407  43.159258  3.195648e+03
     6        23.799999  0.108007  0.108007  42.016808  3.365596e+03
...                 ...       ...       ...        ...           ...
2016 10     2161.199951  0.123390  0.120000   0.462706  1.784701e+06
     11     2111.719971  0.003645  0.003645   0.473548  2.112577e+06
     12     2191.080078  0.042066  0.042066   0.456396  1.953819e+06
2017 1      2257.830078  0.121814  0.120000   0.442903  1.768900e+06
     2      2279.550049  0.175401  0.120000   0.438683  2.207927e+06
     3      2395.959961  0.211090  0.120000   0.417369  1.881875e+06
     4      2358.840088  0.138008  0.120000   0.423937  1.850287e+06
     5      2388.330078  0.147447  0.120000   0.418703  1.604583e+06
     6      2430.060059  0.157541  0.120000   0.411512  1.805582e+06
     7      2429.010010  0.155049  0.120000   0.411690  1.690203e+06
     8      2476.350098  0.140734  0.120000   0.403820  2.029749e+06
     9      2476.550049  0.140815  0.120000   0.403788  2.217132e+06
     10     2529.120117  0.170239  0.120000   0.395394  2.026635e+06
     11     2579.360107  0.221450  0.120000   0.387693  2.398775e+06
     12     2642.219971  0.205898  0.120000   0.378470  2.218585e+06
2018 1      2695.810059  0.193983  0.120000   0.370946  2.008702e+06
     2      2821.979980  0.237955  0.120000   0.354361  2.506997e+06
     3      2677.669922  0.117577  0.117577   0.373459  2.104141e+06
     4      2581.879883  0.094555  0.094555   0.387315  2.026241e+06
     5      2654.800049  0.111572  0.111572   0.376676  1.784609e+06
     6      2734.620117  0.125330  0.120000   0.365682  2.032876e+06
     7      2726.709961  0.122560  0.120000   0.366742  1.898355e+06
     8      2813.360107  0.136091  0.120000   0.355447  2.304765e+06
     9      2896.719971  0.169659  0.120000   0.345218  2.517444e+06
     10     2924.590088  0.156367  0.120000   0.341928  2.301231e+06
     11     2740.370117  0.062422  0.062422   0.364914  2.549512e+06
     12     2790.370117  0.056070  0.056070   0.358375  2.343982e+06
2019 1      2510.030029 -0.068914  0.000000   0.398402  2.009702e+06
     2      2706.530029 -0.040911  0.000000   0.369477  2.507997e+06
     3      2803.689941  0.047063  0.047063   0.356673  2.204169e+06

[831 rows x 5 columns]

In [118]:
first_day_of_each_month["share"] = every_year_investment/12/first_day_of_each_month["first"]
first_day_of_each_month["cash_value"] = every_year_investment/12

def calc_compond_cash_value(df):
    for i in range(13, len(df)):
        df.iloc[i]["cash_value"] = (1 + df.iloc[i]['iul_mode'])*df.iloc[i-12]['cash_value'] +  df.iloc[i]["cash_value"] 

calc_compond_cash_value(first_day_of_each_month)
pd.set_option("display.max_rows", 36)
first_day_of_each_month

               first  change  iul_mode  share    cash_value
Year Month
1950 1        16.660     nan       nan 60.024     1,000.000
     2        17.050     nan       nan 58.651     1,000.000
     3        17.240     nan       nan 58.005     1,000.000
     4        17.530     nan       nan 57.045     1,000.000
     5        18.220     nan       nan 54.885     1,000.000
     6        18.770     nan       nan 53.277     1,000.000
     7        17.640     nan       nan 56.689     1,000.000
     8        18.020     nan       nan 55.494     1,000.000
     9        18.550     nan       nan 53.908     1,000.000
     10       19.690     nan       nan 50.787     1,000.000
     11       19.560     nan       nan 51.125     1,000.000
     12       19.660     nan       nan 50.865     1,000.000
1951 1        20.770   0.247     0.120 48.146     1,000.000
     2        21.770   0.277     0.120 45.935     2,120.000
     3        21.850   0.267     0.120 45.767     2,120.000
     4        21.320   0.216     0.120 46.904     2,120.000
     5        22.530   0.237     0.120 44.385     2,120.000
     6        21.480   0.144     0.120 46.555     2,120.000
...              ...     ...       ...    ...           ...
2017 10    2,529.120   0.170     0.120  0.395 1,509,206.826
     11    2,579.360   0.221     0.120  0.388 1,755,965.269
     12    2,642.220   0.206     0.120  0.378 1,609,160.474
2018 1     2,695.810   0.194     0.120  0.371 1,508,001.005
     2     2,821.980   0.238     0.120  0.354 1,861,468.555
     3     2,677.670   0.118     0.118  0.373 1,630,675.949
     4     2,581.880   0.095     0.095  0.387 1,535,656.808
     5     2,654.800   0.112     0.112  0.377 1,360,062.705
     6     2,734.620   0.125     0.120  0.366 1,519,596.248
     7     2,726.710   0.123     0.120  0.367 1,440,441.370
     8     2,813.360   0.136     0.120  0.355 1,711,275.860
     9     2,896.720   0.170     0.120  0.345 1,801,629.559
     10    2,924.590   0.156     0.120  0.342 1,691,311.645
     11    2,740.370   0.062     0.062  0.365 1,866,576.946
     12    2,790.370   0.056     0.056  0.358 1,700,386.633
2019 1     2,510.030  -0.069     0.000  0.398 1,509,001.005
     2     2,706.530  -0.041     0.000  0.369 1,862,468.555
     3     2,803.690   0.047     0.047  0.357 1,708,420.962

[831 rows x 5 columns]

In [119]:
final_value = first_day_of_each_month.tail(12).sum()["cash_value"]
iul_irr = np.irr(np.append(np.full(len(every_year), -every_year_investment),final_value))*100
print ("Buy On Random Day: ${0:12,.2f}, Interal Return Rate:{1:.2f}%".format(final_value, iul_irr))

Buy On Random Day: $19,706,828.30, Interal Return Rate:6.90%